<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
      <!--Dialect Settings-->
      <property name="dialect">org.hibernate.dialect.MySQL57Dialect</property>

      <!--DB Connection Settings-->
      <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
      <!--<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/users_db?characterEncoding=UTF8&amp;serverTimezone=UTC&amp;useSSL=false&amp;verifyServerCertificate=false</property>-->
      <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/users_db</property>
     <property name="hibernate.connection.characterEncoding">UTF8</property>
     <property name="hibernate.connection.serverTimezone">UTC</property>
     <property name="hibernate.connection.useSSL">false</property>
     <property name="hibernate.connection.verifyServerCertificate">false</property>

      <property name="hibernate.connection.username">dbuser</property>
      <property name="hibernate.connection.password">P@ssw0rd</property>
      <property name="hibernate.connection.autocommit">false</property>



      <property name="hibernate.show_sql">true</property>

    <!-- DB schema will be updated if needed -->
     <property name="hibernate.hbm2ddl.auto">update</property>


      <!--<mapping resource="user.xml"/>-->
      <!--<mapping class="com.yuratrumpe.model.User"/>-->

  </session-factory>
</hibernate-configuration>